@import "./fonts";
@import "./reset";
@import "./typography";

header, footer {
  background-color: #1b1c1d;
}

header {
  .container {
    display: flex;

    .item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.9em 1.2em;
      color: white;
      text-decoration: none;

      img {
        border-radius: 12px;
        height: 36px;
      }

      &:hover {
        background-color: #4b4d4e;
      }
    }
  }
}

@mixin panelled {
  border: none;
  background-color: white;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
}

@mixin panelled-hover {
  @include panelled;

  cursor: pointer;
  transform: translateY(0);
  transition-duration: 0.2s;
  transition-property: transform, box-shadow;
  &:hover {
    box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
    transform: translateY(-3px);
  }
}

main {
  padding: 2rem 0;
  flex-grow: 1;
}

/* Styling for recipe pdf prints */
@media print {
  :root {
    font-size: 11px;
  }

  header, footer {
    display: none;
  }

  .segment {
    border: none;
  }

  .text {
    img {
      float: right;
      width: 50% !important;
      margin: 1rem;
    }
  }
}

footer {
  padding: 5rem 0;
  text-align: center;

  img {
    width: 48px;
    border-radius: 12px;
  }

  *, a {
    color: #dedede
  }

  a {
    text-decoration: underline;
  }
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

  &.text {
    max-width: 700px;

    h1 {
      page-break-after: avoid;
      display: block;
    }

    img {
      width: 100%;
      border-radius: 0.5rem;
    }

    .segment {
      $segment-radius: 0.2rem;
      border-radius: $segment-radius;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      overflow: visible;

      // This is purely decorative so leave it out for prints
      @media screen {
        @include panelled;
        margin-bottom: 1.3rem;

        &.stack {
          position: relative;

          &:before, &:after {
            border-radius: $segment-radius;
            background-color: #fff;
            visibility: visible;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            border: 1px solid rgba(34, 36, 38, .15);
            top: 0;
          }

          &:before {
            transform: rotate(-1.2deg);
            z-index: -1;
          }

          &:after {
            transform: rotate(1.2deg);
            z-index: -2;
          }
        }
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;

  $card-radius: 0.5rem;

  .card {
    background-color: white;
    border-radius: $card-radius;
    @include panelled-hover;

    &:hover {
      text-decoration: none;
    }

    img {
      border-top-right-radius: $card-radius;
      border-top-left-radius: $card-radius;
      width: 100%;
      height: 120px;
      object-fit: cover;
    }

    .content {
      padding: 0.7rem;
      display: block;

      .header {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .meta {
        color: #838383;
        margin-bottom: 0.5rem;

        span:not(:first-child) {
          margin-left: 0.3rem;
        }
      }

      .description {
        font-size: 0.9rem;
      }
    }
  }
}

.share.buttons {
  margin-bottom: 1rem;

  @media print {
    display: none;
  }
}

button {
  @include panelled-hover;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;

  span {
    font-weight: bold;
  }
}

.admonition {
  box-shadow: 6px 6px 5px 0 #d4d4d5;
  border-radius: 0.2rem;
  border-left: 4px solid;
  margin-bottom: 1rem;

  .title {
    padding: 1rem;
    display: block;

    span {
      font-weight: bold;
    }
  }

  .content {
    display: block;
    padding: 1rem;
  }

  &.warning {
    border-left-color: #ff9100;

    .title {
      i {
        color: #ff9100;
      }

      background-color: rgba(255, 145, 0, .1);
    }
  }

  &.tip {
    border-left-color: #00c853;

    .title {
      i {
        color: #00c853;
      }

      background-color: rgba(0, 200, 83, .1);
    }
  }
}
