{{ define "main" }}
<div class="text container">
    <div class="stack segment">
        <h1>{{ .Title }}</h1>

        {{ .Description }}

        <div style="clear: both"></div>

        <span class="ui featured rounded image">
        {{ $img := (.Resources.ByType "image").GetMatch "images/*featured*" }}
        {{ with $img }}
            <img src="{{ .Permalink }}" alt="{{ $.Title }}" style="margin-top: 1.5em">
        {{ end }}
    </span>

        <h1>Ingrediënten</h1>

        <ul>
            {{ range .Params.ingredients }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <div style="clear: both"></div>
    </div>


    <div class="segment">
        {{ .Content }}
    </div>

</div>
{{ end }}
