{{ define "main" }}
<div class="container">
    <div class="cards">
        {{ with .Site.GetPage "/recepten"}}
        {{ range .Pages }}
        <a href="{{ .RelPermalink | absURL }}" class="card">
            {{ $img := (.Resources.ByType "image").GetMatch "images/*featured*" }}
            {{ with $img }}
            <img style="height: 160px; object-fit: cover" src="{{ .Permalink }}" alt="{{ $.Title }}">
            {{ end }}
            <span class="content">
                <div class="header">{{ .Title }}</div>
                <div class="meta">
                    {{ with .Params.topics }}{{ range . }}<span>{{ . }}</span>{{ end }}{{ end }}
                </div>
                <div class="description">
                    {{ .Description }}
                </div>
            </span>
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
